<!DOCTYPE html>
<html>
  <style>
     * {
      text-align: center ;

    }
  </style>
  <div class="btn-group">
  <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
      <a href="/students"><button type="button" class="btn btn-danger">Students</button>
      <a href="/comments" ><button type="button" class="btn btn-success">Today I learned ......</button> </a>
      <a href="/teachers" ><button type="button" class="btn btn-warning">Teacher</button> </a>
      <a href="/about_class" ><button type="button" class="btn btn-info">About class</button> </a>
</div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  
<head>
  <title>Code</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--<body background="http://grungetextures.com/sample/784/weathered-wood-background.jpg"> -->
<%= yield %>

</body>
</html>
