<h1>New User</h1>

<form action="/create_user">
  <div>
    <label for="username">username</label><br />
    <input id="username" name="username" type="text" placeholder="enter a username here!"/>
  </div>
  <div>
    <label for="profilepicture">Profile Picture</label><br />
    <input id="profilepicture" name="profilepicture" type="text" placeholder="picture url here!" />
  </div>
  <div>
    <label for="description">Description</label><br />
    <input id="description" name="description" type="text" placeholder="type a description and your favorite joke here!" />
  </div>
    <div>
    <label for="password">Password</label><br />
    <input id="password" name="password" type="password" placeholder="make a password" />
  </div>
      <div>
    <label for="password_confirmation">Password Confirmation</label><br />
    <input id="password_confirmation" name="password_confirmation" type="password" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

