<h1>Sign In</h1> 
 
 <form action="/sessions/create">
       <label for="username"> Username </label><br />
       <input id="username" type="text" name="username" placeholder="your username">
       
  <div>
    <label for="password">Password</label><br />
    <input id="password" name="password" type="password" />
  </div>
   <input type= "submit"> 
</form>
