<h1><center><em><i> WELCOME TO<b>JOKEAPP</b> !!! </i></em></center></h1>
 <h3> Your one-stop for Jokes! </h3>
  <p> Please comment below! </p>
<head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans">
</head>
<style>
  h1 {
    font-family: 'Droid+Sans', serif;
        font-size: 125px;
    color: blue;
  }
  </style>
<center><img src="http://media0.giphy.com/media/gaS3J1JB4NCaA/200w.gif" height="500px" width="550px"></center>

 <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=(""+window.location).replace(/'/g,"%27") || hcb_user.PAGE, h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&opts=16862&num=10");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>