<h1>New Joke</h1>

<form action="/create_joke">
  <div>
    <label for="joke">Joke</label><br />
    <input id="joke" name="joke" type="text" placeholder="type your joke here! :)"/>
  </div>
  <div>
    <label for="user_id">User ID</label><br />
    <input id="user_id" name="user_id" type="text" placeholder="type User ID here"/>
  </div>
  <div>
    <input type="submit">
  </div>
</form>

