<div class="page-header">
  </div1>
    <style> *   {
      background: blue;
        color: white;
    }
      </style>
<div class="container">
<div class="row">
  <div class='col-md-4'>
   <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQE3D90k8VeWp2R3P41VoWG1H0J9dqYFY9gIruAPo2h-JcKfTox" style= down:120px>
  </div>
  <div class="col-md-8">
          <h2>Niel deGrasse Tyson <small>member since 1990</small></h2>

  <meta charset="utf-8">

  
Niel deGrasse Tyson is an American astrophysicist, author and science comminucator. He is currently the Frederick P. Rose director of the Hayden Planetarium at the Rose Center for Earth and Space and a research associat in the department of astrophysics at the American Museum of Natural History. From 2006 to 2011, he hosted the educational science television show NOVA ScienceNow on PBS and has been a frequent guest on The Daily Show, The Colbert Report, Real Time with Bill Maher, and Jeopardy! Tyson is the host of Cosmos: A Spacetime Odyssey, an update to Carl Sagan's Cosmos: A personal Voyage television series; the updated series started in March 2014.
    
  <div> <b>Location:</b> Brooklyn
  </div>
  <div><b>Completion:</b>
  
   <img src="http://www.sfenvironment.org/sites/default/files/editor-uploads/zero_waste/image/sfe_zw_slider_80percent.jpg">
    </div></div></div></div>
