<h1>Add Teacher</h1>

<form action="/create_teacher">
  <div>
    <label for="name">Name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="email">e-mail</label><br />
    <input id="email" name="email" type="text" />
  </div>
  <div>
    <label for="bio">Biography</label><br />
    <input id="bio" name="bio" type="text" />
  </div>
  <div>
    <label for="img">Profile Picture</label><br />
    <input id="img" name="img" type="text" />
  </div>
  <div>
    <label for="advice">Advice</label><br />
    <input id="advice" name="advice" type="text" />
  </div>
  <div>
    <br>
    <input type="submit">
  </div>
</form>

