<h1>New Student</h1>

<form action="/create_student">
  <div>
    <label for="name">Name</label><br />
    <input id="name" name="name" type="text" placeholder="Name goes here!"/>
  </div>
  <div>
    <label for="email">e-mail</label><br />
    <input id="email" name="email" type="text" placeholder="E-mail goes here!"/>
  </div>
  <div>
    <label for="img">Profile Picture (url)</label><br />
    <input id="img" name="img" type="img" placeholder="profile picture"/>
  </div>
  <div>
    <label for="bio">Bio</label><br />
    <input id="bio" name="bio" type="text" placeholder="interesting information"/>
  </div>
  <div>
    <br>
    <input type="submit">
  </div>
</form>

