<h1>New Report</h1>
<h4> Please type what you accomplished and what you learned! </h4>
<br>
<form action="/create_comment">
  <div>
    <label for="student">Student ID</label><br />
    <input id="student" name="student_id" type="text" />
  </div>
  <div>
    <label for="note">Note</label><br />
    <input id="note" name="note" type="text" />
  </div>
  <div>
    <label for="date">Date</label><br />
    <input id="date" name="date" type="text" />
  </div>
  <div>
    <br>
    <input type="submit">
  </div>
</form>

