<div class = "logo">
    <img src= "http://www.conservapedia.com/images/thumb/1/14/Pi-symbol.png/496px-Pi-symbol.png" alt="pi" height = "50px">
    <h2><strong>Quizzes</strong></h2>
</div>
<div class = "container">
 <div class = "row">
  <div class = "col-md-6">
    <img src = "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQH6s0d5W7uTgIM1M3fRdhWWSrMhSFkHEJboLDOZYi3KR62laIMgg" alt="math" height = "300px">
         <h1>Quiz</h1>
           <br>

    </div>
  <div class = "col-md-6">
    <img src = "http://img2.imagesbn.com/p/9780866099653_p0_v1_s260x420.jpg" alt="Mcdougal Littell Geometry for Enjoyment and Challenge" height = "300px">
    
      <br>
      <small>
        <br>
        Start quizzing away!</small>
    </div>